@{
    ViewData["Title"] = "BootBox";
}

<h2>BootBox</h2>

<table>
    <tr>
        <td>
            <input type="button" value="Click Me" onclick="@Html.BootBox("A message from Client (on click)", BootBoxType.Prompt).Script" class="btn btn-primary" />
        </td>
        <td>
            @using (Html.BeginForm())
            {
                if (Context.Request.Method.ToLower() == "get")
                {
                    @Html.BootBox("A message from Client (on pageload)").Title("Your Title").Type(BootBoxType.Confirm)
                }
                <input type="submit" value="Submit Form" class="btn btn-primary" />
            }
        </td>
        <td>
            @using (Html.AjaxBeginForm(new AjaxOptions()))
            {
                <input type="submit" value="Submit Ajax" class="btn btn-primary" />
            }
        </td>
    </tr>
</table>