@{
    ViewData["Title"] = "Home Page";
}
<style>
    .sss, .sss *, .lead {
        direction: ltr !important;
        text-align: left !important;
    }
</style>

<div style="padding: 10px">
    <h1 style="text-align:center">DNZ.MvcComponents</h1>
    <p class="lead">
        A set of useful UI-Components (HtmlHelper) for ASP.NET Core MVC based-on Popular JavaScript Plugins (Experimental project).
        <hr />
        <ul class="sss" style="font-size: medium;">
            <li>Easy-to-Use with just one line of code.</li>
            <li>Fully Configuralbe for each component.</li>
            <li>Add necessary CSS (to top) and JS (to down) resources automatically when you use a component and remove tags when you no longer use it.</li>
            <li>No need to deal with a specific script code for each component.</li>
            <li>Includes a Variety of components.</li>
            <li>Usable in View and PartialView.</li>
            <li>Usable with Ajax and Non-Ajax requests.</li>
            <li>Using CDN resources instead of Locale Embedded resources (Optional).</li>
            <li>Lightweight with small footprint.</li>
        </ul>
        <hr />
    </p>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@


<div class="row">
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/Controls">Form Elements</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/ICheck">iCheck</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/InputMask">Input Mask</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/Typeahead">Typeahead Autocomplete</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/Wizard">Wizard</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/WizardValidation">Wizard Step Validation</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/Uploader">Multi Uploader</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/Uploader2">Single Uploader</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/Select2">Select2</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/DatePicker">DatePicker</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/DataTables">DataTables</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/Handlebars">Handlebars template</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/Noty">Noty</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/SweetAlert">Sweet Alert</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/SweetAlertBootstrap">Sweet Alert Bootstrap</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/BsDialog">Boostrap3 Dialog</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/BootBox">BootBox</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/Toastr">Toastr</a>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-primary btn-block" href="/Home/TagsInput">TagsInput</a>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>
</div>
